.nav{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
}
.nav_black{
    background-color: black;
    height: 50px;
}
.nav_image{
    position: fixed;
    left: 10px;
    top: 5px;
    height: 40px;
    object-fit: contain;

}
.nav_logo{
    position: fixed;
    right: 20px;
    top: 10px;
    color: white;
    
}
